
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home Online Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link href="/themes/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/themes/css/bootstrappage.css" rel="stylesheet" />

    <!-- global styles -->
    <link href="/themes/css/flexslider.css" rel="stylesheet" />
    <link href="/themes/css/main.css" rel="stylesheet" />

    <!-- scripts -->
    <script src="/themes/js/jquery-1.7.2.min.js"></script>
    <script src="/themes/bootstrap/js/bootstrap.min.js"></script>
    <script src="/themes/js/superfish.js"></script>
    <script src="/themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form action="/Product/Search" method="POST" class="search_form">
                    <input type="text" class="input-block-level search-query" Placeholder="Tìm kiếm ở đây" id="searchbar" style="background-color:white; color:black" name="search">
                    <input type="submit" value="Tìm kiếm" style="background-color:white; color:black"/>
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li><a href="/Home/Account">Tài khoản</a></li>
                        <li><a href="/Cart/Index">Giỏ hàng của bạn</a></li>
                        <li><a href="/Home/LichSuMuaHang">Lịch sử mua hàng</a></li>

                        @if (Session["dangnhap"] != null)
                        {
                            if (!string.IsNullOrEmpty(Session["dangnhap"].ToString()))
                            {
                                <li><a href="/Register/SignOut">Đăng xuất</a></li>
                            }
                            else
                            {
                                <li><a href="/Register/Login">Đăng nhập</a></li>
                                <li><a href="/Register/SignUp">Đăng ký</a></li>
                            }
                        }

                        else
                        {
                            <li><a href="/Register/Login">Đăng nhập</a></li>
                            <li><a href="/Register/SignUp">Đăng ký</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu"  >
                <a href="/Home/Index" class="logo pull-left"><img src="~/themes/images/logo/mieu.png" class="site_logo" alt="" height="200" width="300"></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>
                            <a href="/Home/Index" class="sf-with-ul">Trang chủ<span class="sf-sub-indicator"></span></a>
                            
                        </li>
                        <li>
                            <a href="/Product/ProductByType/quanao" class="sf-with-ul">Quần áo<span class="sf-sub-indicator"></span></a>
                           
                        </li>
                        <li>
                            <a href="/Product/ProductByType/giay">Giày</a>
                            
                        </li>
                        <li><a href="/Product/ProductByType/tui">Túi xách</a></li>
                        <li><a href="/Product/Index">Best Seller</a></li>
                        
                    </ul>
                </nav>
            </div>
        </section>

        <div class="container body-content">
            @RenderBody()
            <hr />

            <section id="footer-bar">
                <div class="row">
                    <div class="span3">
                        <h4>Navigation</h4>
                        <ul class="nav">
                            <li><a href="/Home/Index">Trang chủ</a></li>
                            <li><a href="/Home/About">Giới thiệu về shop</a></li>
                            <li><a href="/Home/Contact">Liên hệ</a></li>
                            <li><a href="/Cart/Index">Giỏ hàng của bạn</a></li>
                            <li><a href="/Register/Login">Đăng nhập</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        <h4>Tài khoản của tôi</h4>
                        <ul class="nav">
                            <li><a href="/Home/Account">Thông tin tài khoản</a></li>
                             
                        </ul>
                    </div>
                    <div class="span5">
                        <p class="logo"><img src="~/themes/images/logo/logomd.png" class="site_logo" alt=""></p>
                    
                        <br />
                        <span class="social_icons">
                            <a class="facebook" href="#">Facebook</a>
                            <a class="twitter" href="#">Twitter</a>
                            <a class="skype" href="#">Skype</a>
                            <a class="vimeo" href="#">Vimeo</a>
                        </span>
                    </div>
                </div>
            </section>
           
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
