@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section>
    <img class="pageBanner" src="~/themes/images/carousel/banner1.png" alt="New products">
    <h3><span><b>Thông tin liên hệ</b></span></h3>
    <div class="row">
        <div class="span4"></div>
        <div class="span4">
            <h4>Shop thời trang</h4>
            <p>Địa chỉ: Khu phố 6, P.Linh Trung, Q.Thủ Đức, Tp. Hồ Chí Minh. </p>
            <p>Liên hệ: 0584693114</p>
            <p>Email: shop@gmail.com</p>
        </div>
        <div class="span4"></div>
    </div>
</section>